body {
    background-color: lightblue;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.row {
    margin: 0;
}

/* Header */
.header {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.banner {
    margin-top: 3%;
}

/* Primary Image */
.primary-image {
    text-align: center;
}

#portfolio-pic {
    border-radius: 50%;
    position: relative;
    width: 40%;
}

/* Main-Content */
.main-content {
    text-align: center;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    min-height: 300px;
}

/* Tab buttons div */
.btnDiv {
    display: flex;
}

.btn {
    display: inline-block;
    flex: 1;
    border-radius: 0;
    border: solid 1px black;
}

.content {
    margin: 20px auto;
    width: 90%;
}

/* Contact */
.contact {
    height: 400px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5%;
    background-color: slateblue;
    margin-top: 3%;
}

.contact form {
    margin: 0 auto;
    width: 50%;
}

/* Footer */
.footer {
    bottom: 0;
    height: 100px;
    text-align: center;
    background-color: slategray;
    padding-top: 40px;
}

/* Media Queries */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    
}