.page-container {
    position: relative;
    min-height: 100vh;
}

.row {
    margin: 0;
}

/* Header */
.header {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.banner {
    margin-top: 3%;
}

/* Primary Image */
.primary-image {
    text-align: center;
}

#portfolio-pic {
    border-radius: 50%;
    position: relative;
    width: 40%;
    /* height: 60%; */
}

/* Main-Content */
.main-content {
    text-align: center;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

/* Tab buttons div */
.btnDiv {
    display: flex;
}

.btn {
    display: inline-block;
    flex: 1;
}

/* Media Queries */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    
}